
<script type="text/template" id="satellite_template">
	<div class="col-12 col-sm-6 col-lg-4">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="pull-right">
					<span class="label">Default</span>
					<span class="label label-success">Success</span>
					<span class="label label-warning">Warning</span>
					<span class="label label-danger">Danger</span>
					<span class="label label-info">Info</span>
				</div>
				<h3 class="panel-title">Panel title</h3>
			</div>
			Panel body
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn btn-default">Action</a>
				</li>
			</ul>
			<!--<div class="panel-footer">Panel footer</div>-->
		</div>
	</div>
</script>